<form method="post" action="/students">

  <label for="house_select">Select House:</label>
  <select name="house_id" id="house_select">
    <option value="<%= House.find_id_by_name('gryffindor') %>">Gryffindor</option>
    <option value="<%= House.find_id_by_name('hufflepuff') %>">Hufflepuff</option>
    <option value="<%= House.find_id_by_name('ravenclaw') %>">Ravenclaw</option>
    <option value="<%= House.find_id_by_name('slytherin') %>">Slytherin</option>
  </select>

  <label for="first-name-field">First Name: </label>
  <input type="text" name="first_name" id="first-name-field">

  <label for="last-name-field">Last Name: </label>
  <input type="text" name="last_name" id="last-name-field">

  <label for="age-field">Age: </label>
  <input type="number" name="age" id="age-field">
  <br>
  <input type="submit" value="Complete enrolment">

</form>
